@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&family=Raleway:wght@400;500&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  color: #363130;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 38px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
}

h1 span {
  color: #319F1C;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1580px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

span.three {
  font-family: "Arial", sans-serif;
}

.form-control,
.custom-select,
button {
  margin-bottom: 13px;
  border-color: #319F1C;
  height: 38px;
}

@media (min-width: 1200px) {
  .form-control {
    padding: 8px 30px;
  }
}

.form-control:focus,
.custom-select:focus {
  border-color: #319F1C;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(49, 159, 28, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(49, 159, 28, 0.25);
}

.custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  padding: 0;
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  .custom-select {
    font-size: 14px;
  }
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #319F1C;
  color: white;
  -webkit-box-shadow: 0px 4px 4px #64bc45;
          box-shadow: 0px 4px 4px #64bc45;
  border-radius: 3px;
  width: 100%;
  max-width: 238px;
  font-weight: 600;
}

.btn-order,
.btn-order:hover,
.btn-order:focus,
.btn-order:active {
  margin: 0;
  width: 100%;
  height: 64px;
  font-weight: 500;
}

.btn-file {
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 186px;
  height: 36px;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  display: block;
}

.btn-file input[type="file"]:hover {
  cursor: pointer;
}

.wrapper {
  background: url("/img/background/house.png") top right/contain no-repeat, url("/img/background/cloud.png") -10% 60%/auto no-repeat, url("/img/background/brick.png") 0% 80%/auto no-repeat, url("/img/background/builder.png") 55% 100%/25% no-repeat, url("/img/background/tree.png") 100% 101%/15% no-repeat, url("/img/background/cloud2.png") 100% 74%/auto no-repeat, url("/img/background/house2.png") 100% 110%/50% no-repeat;
}

@media (max-width: 767px) {
  .wrapper {
    background-image: url("/img/background/house.png"), url("/img/background/cloud.png"), url("/img/background/brick.png"), none, none, url("/img/background/cloud2.png"), none;
  }
}

@media (min-width: 992px) {
  .wrapper {
    background-position: top right, -10% 60%, 0% 80%, 59% 100%, 100% 101%, 100% 86%, 100% 110%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    background-position: top right, -10% 60%, 0% 80%, 56% 100%, 100% 101%, 100% 86%, 100% 120%;
  }
}

@media (min-width: 1580px) {
  .wrapper {
    background-position: top right, -10% 60%, 0% 72%, 55% 100%, 100% 101%, 100% 83%, 100% 120%;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    background-position: top right, -10% 60%, 0% 80%, 55% 100%, 100% 101%, 100% 74%, 100% 120%;
  }
}

.navbar {
  background-color: white;
  border-radius: 3px;
}

@media (min-width: 992px) {
  .navbar {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-brand {
  position: relative;
  width: 50%;
}

@media (min-width: 768px) {
  .navbar-brand {
    width: auto;
  }
}

.nav-item {
  font-weight: 500;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a[href^="tel"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  border: none;
}

@media (min-width: 1580px) {
  .nav-item a[href^="tel"] {
    font-size: 22px;
  }
}

.nav-item a#cube-link {
  border-bottom: 1px solid black;
}

@media (min-width: 992px) {
  .nav-item a#cube-link {
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .nav-item a#cube-link {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .nav-item .nav-item__icon {
    width: 40px;
  }
  .nav-item .nav-item__social-icon {
    width: 20px;
  }
  .nav-item.btn-order {
    width: 16.66666%;
  }
}

@media (min-width: 1200px) {
  .nav-item .nav-item__icon {
    width: 64px;
  }
  .nav-item .nav-item__social-icon {
    width: 25px;
  }
}

@media (min-width: 1580px) {
  .nav-item.btn-order {
    width: 100%;
  }
}

#menu_1 .nav-item a {
  color: black;
}

#menu_2 .navbar-collapse .nav-link {
  color: black;
}

@media (min-width: 992px) {
  #menu_2 .navbar-collapse {
    margin-top: 1rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(1.47%, rgba(246, 246, 246, 0)), color-stop(7.25%, rgba(163, 210, 155, 0.92)), color-stop(14.68%, #319F1C), color-stop(50.68%, #319F1C), color-stop(84.33%, #319F1C), color-stop(91.68%, rgba(147, 202, 137, 0.79)), color-stop(99.05%, rgba(246, 246, 246, 0)));
    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 1.47%, rgba(163, 210, 155, 0.92) 7.25%, #319F1C 14.68%, #319F1C 50.68%, #319F1C 84.33%, rgba(147, 202, 137, 0.79) 91.68%, rgba(246, 246, 246, 0) 99.05%);
    border-radius: 3px;
  }
  #menu_2 .navbar-collapse .nav-link {
    color: white;
  }
}

.navbar-nav .dropdown-menu {
  background-color: #585858;
  float: left;
  top: 94%;
  padding: 13px 16px;
  border: none;
  border-radius: 0px 0px 3px 3px;
}

@media (min-width: 768px) {
  .navbar-nav .dropdown-menu {
    padding: 26px 32px;
  }
}

.dropdown-item {
  padding-left: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

.dropdown-item:last-child {
  border-bottom: none;
}

#block-slider {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  #block-slider {
    padding-top: 62px;
  }
}

@media (min-width: 1580px) {
  #block-slider {
    padding-bottom: 200px;
  }
}

.title {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.slider__form {
  background-color: white;
  position: relative;
  margin-top: 3rem;
  padding: 45px 78px 71px 30px;
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

@media (max-width: 768px) {
  .slider__form {
    margin-top: 1rem;
    padding: 20px 10px 60px;
  }
}

.slider__form .btn {
  max-width: 100%;
}

#gift1 {
  width: 100px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: -25%;
  right: -5%;
}

@media (max-width: 768px) {
  #gift1 {
    display: none;
  }
}

@media (min-width: 1580px) {
  #gift1 {
    width: auto;
  }
}

#gift2 {
  width: 60px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  bottom: -10%;
  left: 15%;
}

@media (min-width: 1580px) {
  #gift2 {
    width: 84px;
  }
}

#shepki {
  width: 100px;
  top: -25%;
  right: 30%;
}

@media (max-width: 768px) {
  #shepki {
    display: none;
  }
}

@media (min-width: 1580px) {
  #shepki {
    top: -45%;
    width: auto;
  }
}

.group-buttons {
  position: absolute;
  top: 10%;
  right: 0;
  width: 87px;
}

@media (max-width: 768px) {
  .group-buttons {
    width: 60px;
  }
}

.group-buttons button {
  display: block;
  width: 100%;
  height: 64px;
  background: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px 0px 0px 3px;
  border: none;
  margin-bottom: 10px;
}

#block-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  #block-services {
    background: url("/img/background/tools.png") 1% 0%/80px no-repeat;
  }
}

@media (min-width: 992px) {
  #block-services {
    background-size: 100px;
  }
}

@media (min-width: 1580px) {
  #block-services {
    background-size: auto;
    padding-bottom: 140px;
  }
}

#block-services h2 {
  text-align: center;
}

#block-services .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

#block-services a.btn {
  position: relative;
  max-width: 373px;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #319F1C;
  border: 1px solid #319F1C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1200px) {
  #block-services a.btn {
    margin-bottom: 35px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

#block-services a.btn svg {
  min-width: 30px;
  width: 30px;
  margin-right: 4px;
}

@media (min-width: 1200px) {
  #block-services a.btn svg {
    margin-right: 18px;
  }
}

#block-services a.btn svg path {
  fill: #319F1C;
  stroke: inherit;
  stroke-width: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#block-services a.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #319F1C;
  color: white;
}

#block-services a.btn:hover svg path {
  fill: white;
}

#list_services {
  position: relative;
}

.list-services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .list-services {
    width: auto;
    display: block;
  }
}

.house {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
}

@media (min-width: 1580px) {
  .house {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 674px;
            flex: 0 0 674px;
    max-width: 674px;
  }
}

.house img {
  width: 100%;
}

#canvas_lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.well img {
  display: block;
  width: 100%;
  position: relative;
  top: 20%;
}

span.point {
  display: none;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #319F1C;
}

@media (min-width: 992px) {
  span.point {
    display: block;
  }
}

#block-form h2 {
  margin-bottom: 20px;
}

#block-form form p {
  font-size: 1rem;
  margin-bottom: 20px;
}

#block-form .subtitle {
  margin-bottom: 47px;
}

#block-form .form-control {
  max-width: 507px;
  margin-bottom: 20px;
}

#block-form textarea.form-control {
  margin-bottom: 32px;
}

#block-form .btn {
  height: 45px;
}

#block-form .input-file {
  margin-bottom: 20px;
}

footer {
  color: white;
  padding: 10px;
  background-color: #363130;
}

@media (min-width: 992px) {
  footer {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

footer .btn-order,
footer .btn-order:focus,
footer .btn-order:active {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid white;
  border-radius: 6px;
}

footer .btn-order:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid white;
  border-radius: 6px;
  border-color: #319F1C;
  color: #319F1C;
}

footer .logo-footer img {
  width: auto;
}

@media (min-width: 992px) {
  footer .logo-footer img {
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  footer .logo-footer img {
    max-width: 100%;
  }
}

footer p {
  font-size: 16px;
}

footer ul {
  list-style: none;
  color: white;
  padding: 0px;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  color: #319F1C;
  text-decoration: none;
}

@media (min-width: 992px) {
  footer ul li {
    margin-bottom: 20px;
  }
}

footer ul li:last-child {
  margin-bottom: 0;
}

footer .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  footer .social-buttons {
    margin-bottom: 36px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

footer .social-buttons a {
  display: block;
  margin-right: 20px;
}

footer .social-buttons a:hover svg path {
  fill: #319F1C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .social-buttons a:last-child {
  margin-right: 0;
}
