@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&family=Raleway:wght@400;500&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.container {
  max-width: 1580px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #319f1c;
  color: white;
  -webkit-box-shadow: 0px 4px 4px #64bc45;
          box-shadow: 0px 4px 4px #64bc45;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-brand {
  position: relative;
  width: 50%;
}

@media (min-width: 768px) {
  .navbar-brand {
    width: auto;
  }
}

.nav-item {
  font-weight: 500;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a[href^="tel"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  border: none;
}

@media (min-width: 1580px) {
  .nav-item a[href^="tel"] {
    font-size: 22px;
  }
}

.nav-item a#cube-link {
  border-bottom: 1px solid black;
}

.nav-item a#cube-link span {
  font-family: "Arial", sans-serif;
}

@media (min-width: 992px) {
  .nav-item a#cube-link {
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .nav-item a#cube-link {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .nav-item.nav-item__button {
    width: 16.666667%;
  }
}

@media (min-width: 1580px) {
  .nav-item.nav-item__button {
    width: 238px;
  }
}

@media (min-width: 992px) {
  .nav-item .nav-item__icon {
    width: 40px;
  }
  .nav-item .nav-item__social-icon {
    width: 20px;
  }
}

@media (min-width: 1200px) {
  .nav-item .nav-item__icon {
    width: 64px;
  }
  .nav-item .nav-item__social-icon {
    width: 25px;
  }
}

#menu_1 .nav-item a {
  color: black;
}

#menu_2 .navbar-collapse .nav-link {
  color: black;
}

@media (min-width: 992px) {
  #menu_2 .navbar-collapse {
    margin-top: 1rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(1.47%, rgba(246, 246, 246, 0)), color-stop(7.25%, rgba(163, 210, 155, 0.92)), color-stop(14.68%, #319f1c), color-stop(50.68%, #309e1b), color-stop(84.33%, #319f1c), color-stop(91.68%, rgba(147, 202, 137, 0.79)), color-stop(99.05%, rgba(246, 246, 246, 0)));
    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 1.47%, rgba(163, 210, 155, 0.92) 7.25%, #319f1c 14.68%, #309e1b 50.68%, #319f1c 84.33%, rgba(147, 202, 137, 0.79) 91.68%, rgba(246, 246, 246, 0) 99.05%);
    border-radius: 3px;
  }
  #menu_2 .navbar-collapse .nav-link {
    color: white;
  }
}

.navbar-nav .dropdown-menu {
  background-color: #585858;
  float: left;
  top: 94%;
  padding: 13px 16px;
  border: none;
  border-radius: 0px 0px 3px 3px;
}

@media (min-width: 768px) {
  .navbar-nav .dropdown-menu {
    padding: 26px 32px;
  }
}

.dropdown-item {
  padding-left: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

.dropdown-item:last-child {
  border-bottom: none;
}
