html,
body {
	width: 100%;
	height: 100%;
	font-family: "Raleway", sans-serif;
}

h1,
h2 {
	color: #363130;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
}

h1 {
	font-size: 38px;
	@media (max-width: 768px) {
		font-size: 25px;
	}
	span {
		color: $green;
	}
}

h2 {
	font-size: 32px;
}

p {
	font-size: $fzImpText;
	margin-bottom: 0.5rem;
}

.container {
	max-width: 1580px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.form-control,
.custom-select,
button {
	margin-bottom: 13px;
	border-color: $green;
	height: 38px;
}

.form-control {
	@media (min-width: 1200px) {
		padding: 8px 30px;
	}
}

.form-control:focus,
.custom-select:focus {
	border-color: $green;
	box-shadow: 0 0 0 0.2rem rgba(49, 159, 28, 0.25);
}

.custom-select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	padding: 0;
	padding-left: 0.5rem;
	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
	background-color: $green;
	color: white;
	box-shadow: 0px 4px 4px #64bc45;
	border-radius: 3px;
	width: 100%;
	max-width: 238px;
	font-weight: 600;
}

.btn-order,
.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	margin: 0;
	width: 100%;
	height: 64px;
	font-weight: 500;
}

.btn-file {
	position: relative;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 20px;
}
.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 186px;
	height: 36px;
	font-size: 100px;
	text-align: right;
	opacity: 0;
	outline: none;
	display: block;
	&:hover {
		cursor: pointer;
	}
}

.wrapper {
	background: url("/img/background/bg.png") top right / contain no-repeat,
		url("/img/background/cloud.png") 0% 110% / auto no-repeat;
}
