#block-form {
	h2 {
		margin-bottom: 20px;
	}
	form p {
		font-size: 1rem;
		margin-bottom: 20px;
	}
	.subtitle {
		margin-bottom: 47px;
	}
	.form-control {
		max-width: 507px;
		margin-bottom: 20px;
	}
	textarea.form-control {
		margin-bottom: 32px;
	}
	.btn {
		height: 45px;
	}
}
