.navbar {
	background-color: white;
	border-radius: 3px;
	@media (min-width: 992px) {
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-brand {
	position: relative;
	width: 50%;
	@media (min-width: 768px) {
		width: auto;
	}
}

.nav-item {
	font-weight: 500;
	a {
		color: white;
		text-decoration: none;
		&[href^="tel"] {
			font-family: "Montserrat", sans-serif;
			font-weight: 800;
			font-size: $fzImpText;
			border: none;
			@media (min-width: 1580px) {
				& {
					font-size: 22px;
				}
			}
		}
		&#cube-link {
			border-bottom: 1px solid black;
			@media (min-width: 992px) {
				& {
					padding-bottom: 10px;
				}
			}
			@media (min-width: 1200px) {
				& {
					font-size: $fzImpText;
				}
			}
		}
	}
	@media (min-width: 992px) {
		.nav-item__icon {
			width: 40px;
		}
		.nav-item__social-icon {
			width: 20px;
		}
		&.btn-order {
			width: 16.66666%;
		}
	}
	@media (min-width: 1200px) {
		.nav-item__icon {
			width: 64px;
		}
		.nav-item__social-icon {
			width: 25px;
		}
	}
	@media (min-width: 1580px) {
		&.btn-order {
			width: 100%;
		}
	}
}

#menu_1 {
	.nav-item {
		a {
			color: black;
		}
	}
}

#menu_2 .navbar-collapse {
	.nav-link {
		color: black;
	}
	@media (min-width: 992px) {
		margin-top: 1rem;
		background: linear-gradient(
			90deg,
			rgba(246, 246, 246, 0) 1.47%,
			rgba(163, 210, 155, 0.92) 7.25%,
			$green 14.68%,
			$green 50.68%,
			$green 84.33%,
			rgba(147, 202, 137, 0.79) 91.68%,
			rgba(246, 246, 246, 0) 99.05%
		);
		border-radius: 3px;
		.nav-link {
			color: white;
		}
	}
}

.navbar-nav .dropdown-menu {
	background-color: #585858;
	float: left;
	top: 94%;
	padding: 13px 16px;
	border: none;
	border-radius: 0px 0px 3px 3px;
	@media (min-width: 768px) {
		padding: 26px 32px;
	}
}
.dropdown-item {
	padding-left: 0;
	padding-bottom: 8px;
	border-bottom: 1px solid white;
}
.dropdown-item:last-child {
	border-bottom: none;
}
