#block-services {
	display: flex;
	flex: 0 0 100%;
	align-items: center;
	padding-bottom: 50px;
	@media (min-width: 768px) {
		background: url("/img/background/tools.png") 1% 0% / 80px no-repeat;
	}
	@media (min-width: 992px) {
		background-size: 100px;
	}
	@media (min-width: 1580px) {
		background-size: auto;
		padding-bottom: 140px;
	}
	h2 {
		text-align: center;
	}
	.container {
		flex: 0 0 100%;
	}
	a.btn {
		position: relative;
		max-width: 373px;
		width: 100%;
		margin-bottom: 10px;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		display: flex;
		text-align: left;
		align-items: center;
		background-color: white;
		box-shadow: none;
		color: $green;
		border: 1px solid $green;
		transition: 0.3s;
		@media (min-width: 1200px) {
			margin-bottom: 35px;
			padding-right: 0.75rem;
			padding-left: 0.75rem;
		}
		svg {
			min-width: 30px;
			width: 30px;
			margin-right: 4px;
			@media (min-width: 1200px) {
				margin-right: 18px;
			}
			path {
				fill: $green;
				stroke: inherit;
				stroke-width: inherit;
				transition: 0.3s;
			}
		}
	}

	a.btn:hover {
		box-shadow: none;
		background-color: $green;
		color: white;
		svg path {
			fill: white;
		}
	}
}
#list_services {
	position: relative;
}
.list-services {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: 992px) {
		width: auto;
		display: block;
	}
}
.house {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	position: relative;
	@media (min-width: 1580px) {
		padding: 0;
		flex: 0 0 674px;
		max-width: 674px;
	}
	img {
		width: 100%;
	}
}

#canvas_lines {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.well img {
	display: block;
	width: 100%;
	position: relative;
	top: 20%;
}

span.point {
	display: none;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: $green;
	@media (min-width: 992px) {
		display: block;
	}
}
